@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

.navbar {
  background: white;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: "Sixtyfour Convergence", sans-serif;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #EB8317;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-size: 14px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.nav-link:hover {
  color: #EB8317;
}
